channels==3.0.3
channels-redis==3.2.0
Django==3.2
django-phonenumber-field==5.0.0
django-redis==4.12.1
phonenumbers==8.12.21
Pillow==10.0.1
redis==3.5.3
psycopg2-binary==2.9.8
pre-commit==3.3.3
python-decouple==3.8
gunicorn==21.2.0
