{% extends 'base.html' %}
{% load static %}


{% block headscript %}

{% endblock headscript %}


{% block content %}
<main>
    <div class="layout">

        {% include 'nevigation.html' %}

        {% include 'sidebar.html' %}

        <div class="main" id="main">
            <div class="chatarea"></div>
            <div class="callarea">
                {% include 'videocall.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}


{% block endscript %}
<script>
    let room_number_list = {}
    var audio = new Audio("{% static 'sound/notification.mp3' %}");
    // make protected channel for common communication
    $(document).ready(function () {
        console.log('creating protected socket');
        let websocket_type = location.protocol === 'https:' ? 'wss://' : 'ws://'
        let protectedSocket = new WebSocket(
            websocket_type
            + window.location.host
            + '/ws/protected/{{ request.user.id }}/'
        )


        protectedSocket.onmessage = function(e){
            var data = JSON.parse(e.data);
            var type = data['type']

            if(type == 'update_notification'){
                console.log('update_notification');
            }

            else if(type == 'update_contact'){
                console.log('update_contact');
            }

            else if(type == 'update_discussion'){
                console.log('update_discussion');
                $('#discussions').load("{% url 'chat:RoomList' %}", " #discussions>*")
            }
        }

        protectedSocket.onopen = function(r){
            protectedSocket.send(JSON.stringify({
                'type':'connection_success'
            }))
        }

        protectedSocket.onclose = function(e){
            console.log("chat socket close unexpectedly",e)
        }
    });

</script>

{% endblock endscript %}
