{% load static %}
<!-- Start of Navigation -->
<div class="navigation">
    <div class="container">
        <div class="inside">
            <div class="nav nav-tab menu">
                <button class="btn profile_pic"><img class="avatar-xl" src="{% if request.user.image %} {{ request.user.image.url }} {% else %} {% endif %}"
                         alt="avatar"></button>
                <a href="#members" data-toggle="tab" id="contact_div"><i class="material-icons">account_circle</i></a>
                <a href="#discussions" data-toggle="tab" class="active" id="discussion_nav"><i
                       class="material-icons active">chat_bubble_outline</i></a>
                <a href="#notifications" data-toggle="tab" class="f-grow1" id="notification_nav"><i
                       class="material-icons">notifications_none</i></a>
                <!-- <button class="btn mode"><i class="material-icons">brightness_2</i></button> -->
                <a href="#settings" data-toggle="tab"><i class="material-icons">settings</i></a>
                <button class="btn power"><i
                       class="material-icons">power_settings_new</i></button>
            </div>
        </div>
    </div>
</div>
<!-- End of Navigation -->
